mat-card {
    margin-top: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.full-width {
    grid-column: span 2;
}

mat-form-field {
    width: 100%;
}

.button-row {
    margin-top: 25px;

    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media(max-width:768px){

    .form-grid{

        grid-template-columns:1fr;

    }

    .full-width{

        grid-column:span 1;

    }

}