.page {

    padding:24px;

}

.page-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.page-title{

    font-size:28px;

    font-weight:600;

    color:#1F2937;

}

.page-subtitle{

    color:#6B7280;

}