<div class="page-header">

    <div class="page-header-left">
        <h2>{{ title }}</h2>

        <p *ngIf="subtitle">
            {{ subtitle }}
        </p>
    </div>

    <div class="page-header-right" *ngIf="buttonText">

        <!-- Navigation Button -->
        <button
            *ngIf="buttonRoute"
            mat-flat-button
            color="primary"
            [routerLink]="buttonRoute">

            <mat-icon>add</mat-icon>
            {{ buttonText }}

        </button>

        <!-- Click Event Button -->
        <button
            *ngIf="!buttonRoute"
            mat-flat-button
            color="primary"
            (click)="onButtonClick()">

            <mat-icon>add</mat-icon>
            {{ buttonText }}

        </button>

    </div>

</div>