@if (false) {
  <div class="global-loader">
    <div class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>
}
<div class="layout">

  <!-- Sidebar -->
 <aside class="sidebar" [class.collapsed]="isCollapsed">

  <button class="toggle-btn" (click)="toggleSidebar()">
    ☰
  </button>

  <div class="sidebar-content">

    <!-- <div class="logo">GACHSL</div> -->

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span class="text">Dashboard</span>
      </a>
<a routerLink="/settings" routerLinkActive="active">
  <mat-icon>settings</mat-icon>
  <span class="text">Settings</span>
</a>
      <a routerLink="/members" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span class="text">Members</span>
      </a>
<a routerLink="/meetings" routerLinkActive="active">
    <mat-icon>event</mat-icon>
    <span class="text">Meetings</span>
</a>

      <a routerLink="/redevelopment" routerLinkActive="active">
        <mat-icon>build</mat-icon>
        <span class="text">Redevelopment</span>
      </a>

      <a routerLink="/documents" routerLinkActive="active">
        <mat-icon>description</mat-icon>
        <span class="text">Documents</span>
      </a>

      <a routerLink="/notices" routerLinkActive="active">
        <mat-icon>announcement</mat-icon>
        <span class="text">Notices</span>
      </a>

    </nav>

  </div>

</aside>

  <!-- Main Area -->
  <div class="main">

    <!-- Header -->
    <app-header></app-header>

    <!-- Content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>